<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('构件列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 部件层次
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i
                        class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i
                        class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <form id="formId">
                <input type="hidden" id="biObjectId" name="biObjectId">
            </form>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="addComponent()" shiro:hasPermission="biz:component:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="biz:component:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:component:export">
                    <i class="fa fa-download"></i> 导出
                </a>
<!--                <a class="btn btn-info" onclick="generateComponentCode()" shiro:hasPermission="biz:component:add">-->
<!--                    <i class="fa fa-barcode"></i> 构件编号-->
<!--                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('biz:component:edit')}]];
    var removeFlag = [[${@permission.hasPermi('biz:component:remove')}]];
    var statusDatas = [[${@dict.getType('bi_component_status')}]];
    var prefix = ctx + "biz/component";
    var rootObjectId = [[${rootObjectId}]];
    var currentNode = null; // 用于存储当前选中的节点

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 205});
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win: $('.ui-layout-center'),
                doc: $('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }
        queryComponentList();
        queryBiObjectTree();
    });

    function queryComponentList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "构件",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '构件ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'code',
                    title: '编号'
                },
                {
                    field: 'biObject.name',
                    title: '所属部件'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function queryBiObjectTree() {
        var url = ctx + "biz/biobject/treeData?rootObjectId=" + rootObjectId;
        var options = {
            url: url,
            expandLevel: 2,
            onClick: zOnClick,
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            currentNode = treeNode;
            $("#biObjectId").val(treeNode.id);
            $.table.search();
        }
    }

    $('#btnExpand').click(function () {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function () {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function () {
        queryBiObjectTree();
    });

    function addComponent() {
        if (!currentNode) {
            $.modal.alertWarning("请先选择部件");
            return;
        }

        // 判断是否是叶子节点
        if (currentNode.children && currentNode.children.length > 0) {
            $.modal.alertWarning("请先选择叶子节点部件");
            return;
        }

        var url = prefix + "/add?biObjectId=" + currentNode.id;
        $.modal.open("新增构件", url);
    }

    function generateComponentCode() {
        if (!currentNode) {
            $.modal.alertWarning("请先选择部件");
            return;
        }

        // 判断是否是叶子节点
        if (currentNode.children && currentNode.children.length > 0) {
            $.modal.alertWarning("请先选择叶子节点部件");
            return;
        }

        var url = prefix + "/generateCode/" + currentNode.id;
        $.modal.open("构件编号生成", url);
    }
</script>
</body>
</html> 