<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('桥梁构件模版列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">

        <div class="btn-group-sm" id="toolbar" role="group">
            <div class="select-list" style="display: inline-block; margin-right: 10px;">
                <label >桥梁模版：</label>
                <select id="templateRootSelect" class="form-control" style="width: 200px; display: inline-block;">
                    <option th:each="root : ${rootList}" th:value="${root.id}" th:text="${root.name}"></option>
                </select>
            </div>
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="biz:template_object:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="biz:template_object:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-warning" id="exportTemplateBtn" shiro:hasPermission="biz:template_object:export">
                <i class="fa fa-download"></i> 导出全部桥梁模版
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-tree-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('biz:template_object:add')}]];
    var editFlag = [[${@permission.hasPermi('biz:template_object:edit')}]];
    var removeFlag = [[${@permission.hasPermi('biz:template_object:remove')}]];
    var statusDatas = [[${@dict.getType('bi_template_object_status')}]];
    var prefix = ctx + "biz/template_object";
    var treeTable;
    var rootList = [[${rootList}]];

    $(function() {
        // 如果有根模版对象，默认选择第一个
        if (rootList && rootList.length > 0) {
            $("#templateRootSelect").val(rootList[0].id);
        }

        // 初始化树表格
        loadTreeTable();

        // 监听下拉框变化事件
        $("#templateRootSelect").change(function() {
            loadTreeTable();
        });

        // 导出模板文件按钮点击事件
        $("#exportTemplateBtn").click(function() {
            window.location.href = prefix + "/exportTemplateFiles";
        });
    });

    // 加载树表格
    function loadTreeTable() {
        var rootId = $("#templateRootSelect").val();
        if (!rootId) {
            return;
        }

        // 获取选中的根节点对象
        var selectedRoot = null;
        for (var i = 0; i < rootList.length; i++) {
            if (rootList[i].id == rootId) {
                selectedRoot = rootList[i];
                break;
            }
        }

        if (!selectedRoot) {
            return;
        }

        var options = {
            code: "id",
            parentCode: "parentId",
            expandColumn: "1",
            uniqueId: "id",
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            url: prefix + "/list",
            ajaxParams: {
                id: selectedRoot.id,
                parentId: selectedRoot.parentId,
                name: selectedRoot.name,
                orderNum: selectedRoot.orderNum,
                weight: selectedRoot.weight,
                status: selectedRoot.status,
                ancestors: selectedRoot.ancestors
            },
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            modalName: "桥梁构件模版",
            onLoadSuccess: function(data) {
                setTimeout(function() {
                    $('[data-toggle="popover"]').each(function() {
                        $(this).popover({
                            trigger: 'hover',
                            html: true,
                            container: 'body'
                        });
                    });
                }, 500);
            },
            expandAll: false,
            columns: [{
                field: 'selectItem',
                radio: true
            },
                {
                    field: 'name',
                    title: '对象名称',
                    align: 'left'
                },
                {
                    field: 'orderNum',
                    title: '显示顺序',
                    align: 'left'
                },
                {
                    field: 'weight',
                    title: '权重',
                    align: 'left'
                },
                {
                    field: 'diseaseTypeCount',
                    title: '病害类型数',
                    align: 'left'
                },
                {
                    field: 'status',
                    title: '对象状态',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabels(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\', \'' + row.name + '\')"><i class="fa fa-plus"></i>新增</a> ');

                        // 创建更多操作菜单
                        var more = [];
                        more.push('<a class="btn btn-default btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        more.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="selectDiseaseType(\'' + row.id + '\')"><i class="fa fa-bug"></i>病害类型</a> ');

                        if(more.length > 0) {
                            actions.push('<a class="btn btn-info btn-xs" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left"data-content="' + more.join('').replace(/"/g, '&quot;') + '">更多操作</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        // 初始化树表格
        treeTable = $.treeTable.init(options);
    }

    /* 选择病害类型 */
    function selectDiseaseType(templateObjectId) {
        var url = ctx + "biz/template_object/selectDiseaseType/" + templateObjectId;
        $.modal.openTab("选择病害类型", url);
    }
</script>
</body>
</html>