<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.cs.bi.biz.mapper.DiseaseMapper">

    <resultMap type="Disease" id="DiseaseResult">
        <result property="id" column="id"/>
        <result property="position" column="position"/>
        <result property="type" column="type"/>
        <result property="diseaseTypeId" column="disease_type_id"/>
        <result property="description" column="description"/>
        <result property="trend" column="trend"/>
        <result property="level" column="level"/>
        <result property="quantity" column="quantity"/>
        <result property="length" column="length" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="width" column="width" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="heightOrDepth" column="height_or_depth" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="slitWidth" column="slit_width" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="area" column="area" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="participateAssess" column="participate_assess"/>
        <result property="deductPoints" column="deduct_points"/>
        <result property="projectId" column="project_id"/>
        <result property="biObjectId" column="bi_object_id"/>
        <result property="buildingId" column="building_id"/>
        <result property="componentId" column="component_id"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>

        <!-- diseaseType object -->
        <association property="diseaseType" javaType="DiseaseType">
            <result property="id" column="dt_id"/>
            <result property="name" column="dt_name"/>
            <result property="code" column="dt_code"/>
            <result property="minScale" column="dt_min_scale"/>
            <result property="maxScale" column="dt_max_scale"/>
            <result property="status" column="dt_status"/>
        </association>
    </resultMap>

    <sql id="selectDiseaseVo">
        select
            d.id, d.position, d.type, d.disease_type_id, d.description, d.trend, d.level, d.quantity,
            d.length, d.width, d.height_or_depth, d.slit_width, d.area, d.participate_assess, d.deduct_points,
            d.project_id, d.bi_object_id, d.building_id, d.component_id, d.remark,
            d.create_by, d.create_time, d.update_by, d.update_time,
            dt.id as dt_id, dt.name as dt_name, dt.code as dt_code, dt.min_scale as dt_min_scale, dt.max_scale as dt_max_scale, dt.status as dt_status
        from bi_disease d
                 left join bi_disease_type dt on d.disease_type_id = dt.id
    </sql>

    <select id="selectDiseaseList" parameterType="Disease" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        <where>
            <if test="position != null and position != ''"> and d.position like concat('%', #{position}, '%')</if>
            <if test="type != null and type != ''"> and d.type = #{type}</if>
            <if test="diseaseTypeId != null"> and d.disease_type_id = #{diseaseTypeId}</if>
            <if test="trend != null and trend != ''"> and d.trend = #{trend}</if>
            <if test="level != null and level > 0"> and d.level = #{level}</if>
            <if test="projectId != null"> and d.project_id = #{projectId}</if>
            <if test="biObjectId != null"> and d.bi_object_id = #{biObjectId}</if>
            <if test="buildingId != null"> and d.building_id = #{buildingId}</if>
            <if test="componentId != null"> and d.component_id = #{componentId}</if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectDiseaseById" parameterType="Long" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        where d.id = #{id}
    </select>

    <select id="selectDiseaseListByBiObjectIds" parameterType="java.util.List" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        where d.bi_object_id in
        <foreach item="biObjectId" collection="biObjectIds" open="(" separator="," close=")">
            #{biObjectId}
        </foreach>
        order by d.create_time desc
    </select>


    <insert id="insertDisease" parameterType="Disease" useGeneratedKeys="true" keyProperty="id">
        insert into bi_disease
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="position != null and position != ''">position,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="diseaseTypeId != null">disease_type_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="trend != null and trend != ''">trend,</if>
            <if test="level != null">level,</if>
            <if test="quantity != null">quantity,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="heightOrDepth != null">height_or_depth,</if>
            <if test="slitWidth != null">slit_width,</if>
            <if test="area != null">area,</if>
            <if test="participateAssess != null and participateAssess != ''">participate_assess,</if>
            <if test="deductPoints != null">deduct_points,</if>
            <if test="projectId != null">project_id,</if>
            <if test="biObjectId != null">bi_object_id,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="componentId != null">component_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="position != null and position != ''">#{position},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="diseaseTypeId != null">#{diseaseTypeId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="trend != null and trend != ''">#{trend},</if>
            <if test="level != null">#{level},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="length != null">#{length,jdbcType=DECIMAL},</if>
            <if test="width != null">#{width,jdbcType=DECIMAL},</if>
            <if test="heightOrDepth != null">#{heightOrDepth,jdbcType=DECIMAL},</if>
            <if test="slitWidth != null">#{slitWidth,jdbcType=DECIMAL},</if>
            <if test="area != null">#{area,jdbcType=DECIMAL},</if>
            <if test="participateAssess != null and participateAssess != ''">#{participateAssess},</if>
            <if test="deductPoints != null">#{deductPoints},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="biObjectId != null">#{biObjectId},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="componentId != null">#{componentId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDisease" parameterType="Disease">
        update bi_disease
        <trim prefix="SET" suffixOverrides=",">
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="diseaseTypeId != null">disease_type_id = #{diseaseTypeId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="trend != null and trend != ''">trend = #{trend},</if>
            <if test="level != null">level = #{level},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="length != null">length = #{length,jdbcType=DECIMAL},</if>
            <if test="width != null">width = #{width,jdbcType=DECIMAL},</if>
            <if test="heightOrDepth != null">height_or_depth = #{heightOrDepth,jdbcType=DECIMAL},</if>
            <if test="slitWidth != null">slit_width = #{slitWidth,jdbcType=DECIMAL},</if>
            <if test="area != null">area = #{area,jdbcType=DECIMAL},</if>
            <if test="participateAssess != null and participateAssess != ''">participate_assess = #{participateAssess},</if>
            <if test="deductPoints != null">deduct_points = #{deductPoints},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="biObjectId != null">bi_object_id = #{biObjectId},</if>
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="componentId != null">component_id = #{componentId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteDiseaseById" parameterType="Long">
        delete from bi_disease where id = #{id}
    </delete>

    <delete id="deleteDiseaseByIds" parameterType="String">
        delete from bi_disease where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>