<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.cs.bi.biz.mapper.DiseaseMapper">

    <resultMap type="Disease" id="DiseaseResult">
        <result property="id" column="id"/>
        <result property="position" column="position"/>
        <result property="positionNumber" column="position_number"/>
        <result property="type" column="type"/>
        <result property="diseaseTypeId" column="disease_type_id"/>
        <result property="description" column="description"/>
        <result property="nature" column="nature"/>
        <result property="level" column="level"/>
        <result property="quantity" column="quantity"/>
        <result property="units" column="units"/>
        <result property="participateAssess" column="participate_assess"/>
        <result property="deductPoints" column="deduct_points"/>
        <result property="projectId" column="project_id"/>
        <result property="biObjectId" column="bi_object_id"/>
        <result property="biObjectName" column="bi_object_name"/>
        <result property="buildingId" column="building_id"/>
        <result property="componentId" column="component_id"/>
        <result property="commitType" column="commit_type"/>
        <result property="localId" column="local_id"/>
        <result property="remark" column="remark"/>
        <result property="cause" column="cause"/>
        <result property="repairRecommendation" column="repair_recommendation"/>
        <result property="crackType" column="crack_type"/>
        <result property="developmentTrend" column="development_trend"/>
        <result property="detectionMethod" column="detection_method"/>
        <result property="attachmentCount" column="attachment_count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="taskId" column="task_id"/>
        <result property="imgNoExp" column="img_no_exp"/>

        <!-- diseaseType object -->
        <association property="diseaseType" javaType="DiseaseType">
            <result property="id" column="dt_id"/>
            <result property="name" column="dt_name"/>
            <result property="code" column="dt_code"/>
            <result property="minScale" column="dt_min_scale"/>
            <result property="maxScale" column="dt_max_scale"/>
            <result property="status" column="dt_status"/>
            <result property="selectColumn" column="dt_select_column"/>
            <result property="threshold" column="dt_threshold"/>
            <result property="groupName" column="dt_group_name"/>
        </association>

        <association property="project" javaType="Project">
            <result property="year" column="bp_year"/>
        </association>
    </resultMap>

    <sql id="selectDiseaseVo">
        select
            d.id, d.position, d.position_number, d.type, d.disease_type_id, d.description, d.level, d.quantity, d.units,
            d.nature , d.participate_assess, d.deduct_points, d.img_no_exp,
            d.project_id, d.bi_object_id, d.bi_object_name, d.building_id, d.component_id, d.commit_type, d.local_id, d.remark,
            d.cause, d.repair_recommendation, d.crack_type, d.development_trend, d.detection_method as detection_method,
            d.attachment_count,
            d.create_by, d.create_time, d.update_by, d.update_time, d.task_id, bp.year as bp_year,
            dt.id as dt_id, dt.name as dt_name, dt.code as dt_code, dt.min_scale as dt_min_scale, dt.max_scale as dt_max_scale, dt.status as dt_status,
            dt.select_column as dt_select_column, dt.threshold as dt_threshold, dt.group_name as dt_group_name
        from bi_disease d
                 left join bi_disease_type dt on d.disease_type_id = dt.id
                 left join bi.bi_project bp on d.project_id = bp.id
    </sql>

    <select id="selectDiseaseList" parameterType="Disease" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        <where>
            <if test="buildingId != null"> and d.building_id = #{buildingId}</if>
            <if test="year != null">and bp.year = #{year} </if>
            <if test="position != null and position != ''"> and d.position like concat('%', #{position}, '%')</if>
            <if test="type != null and type != ''"> and d.type = #{type}</if>
            <if test="diseaseTypeId != null"> and d.disease_type_id = #{diseaseTypeId}</if>
            <if test="level != null and level > 0"> and d.level = #{level}</if>
            <if test="nature != null and nature != ''"> and d.nature = #{nature}</if>
            <if test="projectId != null"> and d.project_id = #{projectId}</if>
            <if test="taskId != null"> and d.task_id = #{taskId}</if>
            <if test="biObjectId != null"> and d.bi_object_id = #{biObjectId}</if>
            <if test="componentId != null"> and d.component_id = #{componentId}</if>
            <if test="participateAssess != null and participateAssess !=''"> and d.participate_assess = #{participateAssess}</if>
            <if test="commitType != null"> and d.commit_type = #{commitType}</if>
            <if test="localId != null"> and d.local_id = #{localId}</if>
        </where>
        order by d.create_time desc
    </select>

    <select id="selectDiseaseById" parameterType="Long" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        where d.id = #{id}
    </select>

    <select id="selectDiseaseListByBiObjectIds" parameterType="java.util.List" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        where d.bi_object_id in
        <foreach item="biObjectId" collection="biObjectIds" open="(" separator="," close=")">
            #{biObjectId}
        </foreach>
        and d.project_id = #{projectId}
        order by d.create_time desc
    </select>

    <insert id="insertDisease" parameterType="Disease" useGeneratedKeys="true" keyProperty="id">
        insert into bi_disease
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="position != null and position != ''">position,</if>
            <if test="positionNumber != null">position_number,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="diseaseTypeId != null">disease_type_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="imgNoExp != null and imgNoExp !=''">img_no_exp,</if>
            <if test="nature != null and nature != ''">nature,</if>
            <if test="level != null">level,</if>
            <if test="quantity != null">quantity,</if>
            <if test="units != null and units != ''">units,</if>
            <if test="participateAssess != null and participateAssess != ''">participate_assess,</if>
            <if test="deductPoints != null">deduct_points,</if>
            <if test="projectId != null">project_id,</if>
            <if test="biObjectId != null">bi_object_id,</if>
            <if test="biObjectName != null and biObjectName != ''">bi_object_name,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="componentId != null">component_id,</if>
            <if test="commitType != null">commit_type,</if>
            <if test="localId != null">local_id,</if>
            <if test="remark != null">remark,</if>
            <if test="cause != null and cause != ''">cause,</if>
            <if test="repairRecommendation != null and repairRecommendation != ''">repair_recommendation,</if>
            <if test="crackType != null and crackType != ''">crack_type,</if>
            <if test="developmentTrend != null and developmentTrend != ''">development_trend,</if>
            <if test="detectionMethod != null and detectionMethod != ''">detection_method,</if>
            <if test="attachmentCount != null">attachment_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="position != null and position != ''">#{position},</if>
            <if test="positionNumber != null">#{positionNumber},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="diseaseTypeId != null">#{diseaseTypeId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="imgNoExp != null and imgNoExp !=''">#{imgNoExp},</if>
            <if test="nature != null and nature != ''">#{nature},</if>
            <if test="level != null">#{level},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="units != null and units != ''">#{units},</if>
            <if test="participateAssess != null and participateAssess != ''">#{participateAssess},</if>
            <if test="deductPoints != null">#{deductPoints},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="biObjectId != null">#{biObjectId},</if>
            <if test="biObjectName != null and biObjectName != ''">#{biObjectName},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="componentId != null">#{componentId},</if>
            <if test="commitType != null">#{commitType},</if>
            <if test="localId != null">#{localId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="cause != null and cause != ''">#{cause},</if>
            <if test="repairRecommendation != null and repairRecommendation != ''">#{repairRecommendation},</if>
            <if test="crackType != null and crackType != ''">#{crackType},</if>
            <if test="developmentTrend != null and developmentTrend != ''">#{developmentTrend},</if>
            <if test="detectionMethod != null and detectionMethod != ''">#{detectionMethod},</if>
            <if test="attachmentCount != null">#{attachmentCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertDiseases" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bi_disease (
        position, position_number, type, disease_type_id, description, nature, level, quantity, units,
        participate_assess, deduct_points, project_id, bi_object_id, bi_object_name, img_no_exp,
        building_id, task_id, component_id, commit_type, local_id, remark, cause,
        repair_recommendation, crack_type, development_trend, detection_method,
        attachment_count, create_by, create_time, update_by, update_time
        ) VALUES
        <foreach collection="list" item="disease" separator=",">
            (
            #{disease.position}, #{disease.positionNumber}, #{disease.type}, #{disease.diseaseTypeId},
            #{disease.description}, #{disease.nature}, #{disease.level},
            #{disease.quantity}, #{disease.units}, #{disease.participateAssess}, #{disease.deductPoints},
            #{disease.projectId}, #{disease.biObjectId}, #{disease.biObjectName}, #{disease.imgNoExp},
            #{disease.buildingId}, #{disease.taskId}, #{disease.componentId}, #{disease.commitType},
            #{disease.localId}, #{disease.remark}, #{disease.cause},
            #{disease.repairRecommendation}, #{disease.crackType}, #{disease.developmentTrend},
            #{disease.detectionMethod}, #{disease.attachmentCount}, #{disease.createBy},
            #{disease.createTime}, #{disease.updateBy}, #{disease.updateTime}
            )
        </foreach>
    </insert>

    <update id="updateDisease" parameterType="Disease">
        update bi_disease
        <trim prefix="SET" suffixOverrides=",">
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="positionNumber != null">position_number = #{positionNumber},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="diseaseTypeId != null">disease_type_id = #{diseaseTypeId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="imgNoExp != null and imgNoExp !=''">img_no_exp = #{imgNoExp},</if>
            <if test="nature != null and nature != ''">nature = #{nature},</if>
            <if test="level != null and level > 0">level = #{level},</if>
            <if test="quantity != null and quantity > 0">quantity = #{quantity},</if>
            <if test="units != null and units != ''">units = #{units},</if>
            <if test="participateAssess != null and participateAssess != ''">participate_assess = #{participateAssess},</if>
            <if test="deductPoints != null and deductPoints > 0">deduct_points = #{deductPoints},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="biObjectId != null">bi_object_id = #{biObjectId},</if>
            <if test="biObjectName != null">bi_object_name = #{biObjectName},</if>
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="componentId != null">component_id = #{componentId},</if>
            <if test="commitType != null">commit_type = #{commitType},</if>
            <if test="localId != null">local_id = #{localId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="cause != null">cause = #{cause},</if>
            <if test="repairRecommendation != null">repair_recommendation = #{repairRecommendation},</if>
            <if test="crackType != null">crack_type = #{crackType},</if>
            <if test="developmentTrend != null">development_trend = #{developmentTrend},</if>
            <if test="detectionMethod != null">detection_method = #{detectionMethod},</if>
            <if test="attachmentCount != null">attachment_count = #{attachmentCount},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="batchUpdateDiseases">
        <if test="diseaseList != null and !diseaseList.isEmpty()">
            UPDATE bi_disease
            <trim prefix="SET" suffixOverrides=",">
                <trim prefix="position = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.position != null and item.position != ''">
                            WHEN #{item.id} THEN #{item.position}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="position_number = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.positionNumber != null">
                            WHEN #{item.id} THEN #{item.positionNumber}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="type = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.type != null and item.type != ''">
                            WHEN #{item.id} THEN #{item.type}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="disease_type_id = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.diseaseTypeId != null">
                            WHEN #{item.id} THEN #{item.diseaseTypeId}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="description = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.description != null and item.description != ''">
                            WHEN #{item.id} THEN #{item.description}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="img_no_exp = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.imgNoExp != null and item.imgNoExp != ''">
                            WHEN #{item.id} THEN #{item.imgNoExp}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="nature = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.nature != null and item.nature != ''">
                            WHEN #{item.id} THEN #{item.nature}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="level = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.level != null">
                            WHEN #{item.id} THEN #{item.level}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="quantity = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.quantity != null">
                            WHEN #{item.id} THEN #{item.quantity}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="units = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.units != null and item.units != ''">
                            WHEN #{item.id} THEN #{item.units}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="participate_assess = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.participateAssess != null and item.participateAssess != ''">
                            WHEN #{item.id} THEN #{item.participateAssess}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="deduct_points = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.deductPoints != null">
                            WHEN #{item.id} THEN #{item.deductPoints}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="remark = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.remark != null and item.remark != ''">
                            WHEN #{item.id} THEN #{item.remark}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="cause = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.cause != null and item.cause != ''">
                            WHEN #{item.id} THEN #{item.cause}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="repair_recommendation = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.repairRecommendation != null and item.repairRecommendation != ''">
                            WHEN #{item.id} THEN #{item.repairRecommendation}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="crack_type = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.crackType != null and item.crackType != ''">
                            WHEN #{item.id} THEN #{item.crackType}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="development_trend = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.developmentTrend != null and item.developmentTrend != ''">
                            WHEN #{item.id} THEN #{item.developmentTrend}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="detection_method = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.detectionMethod != null and item.detectionMethod != ''">
                            WHEN #{item.id} THEN #{item.detectionMethod}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="attachment_count = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.attachmentCount != null">
                            WHEN #{item.id} THEN #{item.attachmentCount}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="update_by = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.updateBy != null">
                            WHEN #{item.id} THEN #{item.updateBy}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="update_time = CASE id" suffix=" END,">
                    <foreach collection="diseaseList" item="item">
                        <if test="item.updateTime != null">
                            WHEN #{item.id} THEN #{item.updateTime}
                        </if>
                    </foreach>
                </trim>
            </trim>
            WHERE id IN
            <foreach collection="diseaseList" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
    </update>

    <delete id="deleteDiseaseById" parameterType="Long">
        delete from bi_disease where id = #{id}
    </delete>

    <delete id="deleteDiseaseByIds" parameterType="String">
        delete from bi_disease where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDiseaseListByLocalIds" parameterType="Disease" resultMap="DiseaseResult">
        <include refid="selectDiseaseVo"/>
        <where>
            <if test="params.localIds != null and params.localIds.size() > 0">
                d.local_id in
                <foreach item="localId" collection="params.localIds" open="(" separator="," close=")">
                    #{localId}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 批量查询构件病害数据（优化版本，专门用于病害选择器） -->
    <select id="selectDiseaseComponentData" resultMap="DiseaseResult">
        SELECT DISTINCT
        d.id, d.bi_object_id, d.disease_type_id,
        dt.id as dt_id, dt.name as dt_name, dt.code as dt_code,
        dt.min_scale as dt_min_scale, dt.max_scale as dt_max_scale, dt.status as dt_status,
        bp.year as bp_year
        FROM bi_disease d
        INNER JOIN bi_disease_type dt ON dt.id = d.disease_type_id
        LEFT JOIN bi_project bp ON bp.id = d.project_id
        WHERE d.bi_object_id IN
        <foreach item="biObjectId" collection="biObjectIds" open="(" separator="," close=")">
            #{biObjectId}
        </foreach>
        <if test="buildingId != null">
            AND d.building_id = #{buildingId}
        </if>
        <if test="year != null">
            AND bp.year = #{year}
        </if>
        AND d.disease_type_id IS NOT NULL
        AND dt.status = '0'
    </select>


    <select id="selectErrorDiseases" parameterType="Disease" resultMap="DiseaseResult">
        select
            d.id, d.position, d.position_number, d.type, d.disease_type_id, d.description, d.level, d.quantity, d.units,
            d.nature , d.participate_assess, d.deduct_points, d.img_no_exp,
            d.project_id, d.bi_object_id, d.bi_object_name, d.building_id, d.component_id, d.commit_type, d.local_id, d.remark,
            d.cause, d.repair_recommendation, d.crack_type, d.development_trend, d.detection_method as detection_method,
            d.attachment_count,
            d.create_by, d.create_time, d.update_by, d.update_time, d.task_id
        from bi_disease d
                left join bi_object on d.bi_object_id=bi_object.id
        where d.update_time > #{updateTime} and bi_object.name is null
    </select>
</mapper>