<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.cs.bi.biz.mapper.TODiseaseTypeMapper">

    <insert id="insertData">
        insert into bi_templateObject_diseaseType
        (template_object_id, disease_type_id)
        values
        <foreach collection="componentIds" item="componentId" separator=",">
            (
            #{componentId},
            #{id}
            )
        </foreach>
    </insert>

</mapper>