<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.cs.bi.biz.mapper.TODiseasePositionMapper">

    <select id="selectAllMappings" resultType="java.util.HashMap">
        select template_object_id, disease_position_id
        from bi_template_object_disease_position
    </select>

    <select id="selectByTemplateObjectId" parameterType="Long" resultType="java.lang.Long">
        select disease_position_id
        from bi_template_object_disease_position
        where template_object_id = #{templateObjectId}
    </select>

    <insert id="batchInsert">
        insert into bi_template_object_disease_position (template_object_id, disease_position_id)
        values
        <foreach collection="diseasePositionIds" item="dpId" separator=",">
            (#{templateObjectId}, #{dpId})
        </foreach>
    </insert>

    <delete id="deleteMapping">
        delete from bi_template_object_disease_position
        where template_object_id = #{templateObjectId}
          and disease_position_id = #{diseasePositionId}
    </delete>

    <delete id="batchDeleteData">
        delete from bi_template_object_disease_position
        where template_object_id = #{templateObjectId}
        and disease_position_id in
        <foreach collection="diseasePositionIds" item="diseasePositionId" open="(" separator="," close=")">
            #{diseasePositionId}
        </foreach>
    </delete>

    <!-- 批量统计多个模板对象的病害位置数量 -->
    <select id="countDiseasePositionsByTemplateObjectIds" resultType="java.util.HashMap">
        SELECT template_object_id as "key", COUNT(disease_position_id) as "value"
        FROM bi_template_object_disease_position
        WHERE template_object_id IN
        <foreach collection="templateObjectIds" item="templateObjectId" open="(" separator="," close=")">
            #{templateObjectId}
        </foreach>
        GROUP BY template_object_id
    </select>

</mapper>
