<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增建筑')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-building-add">
        <div class="form-group" id="parentBridgeDiv" style="display: none;">
            <label class="col-sm-3 control-label">父桥：</label>
            <div class="col-sm-8">
                <select name="parentId" class="form-control" id="parentId">
                    <option value="">主目录</option>
                    <option th:each="parent : ${parents}"
                            th:value="${parent.id}"
                            th:text="${parent.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">状态：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control" th:with="type=${@dict.getType('bi_building_status')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">经度：</label>
                <div class="col-sm-8">
                    <input name="longitude" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">纬度：</label>
                <div class="col-sm-8">
                    <input name="latitude" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">海拔高度：</label>
                <div class="col-sm-8">
                    <input name="altitude" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">片区：</label>
                <div class="col-sm-8">
                    <select name="area" class="form-control select2-hidden-accessible" th:with="type=${@dict.getType('bi_building_area')}" required>
                        <option value="">请选择片区</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">线路：</label>
                <div class="col-sm-8">
                    <select name="line" class="form-control select2-hidden-accessible" th:with="type=${@dict.getType('bi_buildeing_line')}" required>
                        <option value="">请选择线路</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">类型：</label>
                <div class="col-sm-8">
                    <select name="isLeaf" class="form-control" th:with="type=${@dict.getType('bi_building_is_leaf')}" required onchange="handleTypeChange(this)">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" id="templateDiv" style="display: none;">
            <label class="col-sm-3 control-label is-required">桥梁类型模板：</label>
            <div class="col-sm-8">
                <select id="templateId" name="templateId" class="form-control" required>
                    <option th:each="template : ${templates}"
                            th:value="${template.id}"
                            th:text="${template.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">管理部门：</label>
                <div class="col-sm-8">
                    <input name="adminDept" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">权重：</label>
                <div class="col-sm-8">
                    <input name="weight" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">视频流来源：</label>
                <div class="col-sm-8">
                    <input name="videoFeed" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "biz/building"

    $(function() {
        // 初始化Select2
        $("select[name='area']").select2({
            placeholder: "请选择片区",
            allowClear: true,
            width: '100%'
        });

        $("select[name='line']").select2({
            placeholder: "请选择线路",
            allowClear: true,
            width: '100%'
        });

        // 页面加载时初始化显示状态
        handleTypeChange($("select[name='isLeaf']"));
    });

    $("#form-building-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-building-add').serialize());
        }
    }

    function handleTypeChange(select) {
        var typeValue = $(select).val();
        var parentBridgeDiv = $("#parentBridgeDiv");
        var templateDiv = $("#templateDiv");
        var parentId = $("#parentId");
        var templateId = $("#templateId");

        if (typeValue === "1") {  // 桥幅
            parentBridgeDiv.show();
            templateDiv.show();
            parentId.removeAttr("required"); //桥幅的父桥不是必填项
            templateId.attr("required", "required");
        } else if (typeValue === "0") {  // 组合桥
            parentBridgeDiv.show(); // 组合桥也显示父桥选项，但不是必填
            templateDiv.hide();
            parentId.removeAttr("required"); // 组合桥的父桥不是必填项
            templateId.removeAttr("required");
            templateId.val("");
        }
    }
</script>
</body>
</html>