<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('建筑列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('bi_building_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>片区：</label>
                            <select name="area" th:with="type=${@dict.getType('bi_building_area')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>线路：</label>
                            <select name="line" th:with="type=${@dict.getType('bi_buildeing_line')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>管理部门：</label>
                            <input type="text" name="adminDept"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="biz:building:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="biz:building:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="biz:building:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:building:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-info" onclick="importJson()" shiro:hasPermission="biz:building:add">
                <i class="fa fa-upload"></i> 导入
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('biz:building:edit')}]];
    var removeFlag = [[${@permission.hasPermi('biz:building:remove')}]];
    var statusDatas = [[${@dict.getType('bi_building_status')}]];
    var areaDatas = [[${@dict.getType('bi_building_area')}]];
    var lineDatas = [[${@dict.getType('bi_buildeing_line')}]];
    var isLeafDatas = [[${@dict.getType('bi_building_is_leaf')}]];
    var prefix = ctx + "biz/building";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "建筑",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '建筑ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'isLeaf',
                    title: '类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isLeafDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'area',
                    title: '片区',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(areaDatas, value);
                    }
                },
                {
                    field: 'line',
                    title: '线路',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(lineDatas, value);
                    }
                },
                {
                    field: 'adminDept',
                    title: '管理部门'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="deleteBuilding(\'' + row.id + '\', \'' + row.isLeaf + '\', \'' + row.name + '\')"><i class="fa fa-remove"></i>删除</a> ');

                        // 创建更多操作菜单
                        var more = [];
                        if (row.isLeaf === "1") {
                            more.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="maintainObject(\'' + row.rootObjectId + '\')"><i class="fa fa-cogs"></i>维护</a> ');
                        }
                        more.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="showComponentList(\'' + row.rootObjectId + '\')"><i class="fa fa-list"></i>构件列表</a> ');
                        more.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="importPropertyJson(\'' + row.id + '\')"><i class="fa fa-upload"></i>json导入</a> ');
                        more.push('<a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="downLoadWord(\'' + row.id + '\')"><i class="fa fa-download"></i>导出桥梁资料卡</a> ');

                        actions.push('<a class="btn btn-info btn-xs" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left"data-content="' + more.join('').replace(/"/g, '&quot;') + '">更多操作</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

        // 重写删除方法，处理多选删除
        table.set('operateDelete', function(obj) {
            var ids = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            if (ids.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            var data = { "ids": ids.join() };

            // 获取选择的行数据
            var selectedRows = $('#bootstrap-table').bootstrapTable('getSelections');

            // 检查是否包含组合桥
            var hasComposite = false;
            for (var i = 0; i < selectedRows.length; i++) {
                if (selectedRows[i].isLeaf === "0") {
                    hasComposite = true;
                    break;
                }
            }

            // 根据是否包含组合桥显示不同提示
            if (hasComposite) {
                $.modal.confirm("确定删除所选中的" + rows.length + "条数据吗？<br><span style='color:red;font-weight:bold;'>注意：删除组合桥时将同时删除其下所有子桥及部件！</span>", function() {
                    $.operate.post(table.options.removeUrl, data);
                });
            } else {
                $.modal.confirm("确定删除所选中的" + rows.length + "条数据吗？<br><span style='color:red;'>删除后将同时删除相关部件数据！</span>", function() {
                    $.operate.post(table.options.removeUrl, data);
                });
            }
        });
    });

    function maintainObject(rootObjectId) {
        var url = ctx + "biz/biobject?rootObjectId=" + rootObjectId;
        $.modal.openTab("部件维护", url);
    }

    function importJson() {
        var options = {
            title: 'JSON数据导入',
            url: prefix + "/readJson",
            callBack: function(index, layero) {
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function() {
                    $.table.refresh();  // 确保在数据提交后刷新
                });
            }
        };
        $.modal.openOptions(options);
    }

    function showComponentList(rootObjectId) {
        var url = ctx + "biz/component/list?rootObjectId=" + rootObjectId;
        $.modal.openTab("构件列表", url);
    }

    function deleteBuilding(id, isLeaf, name) {
        if (isLeaf === "0") {
            // 组合桥删除确认
            $.modal.confirm("确定要删除组合桥 <strong>" + name + "</strong> 吗？<br><span style='color:red;font-weight:bold;'>注意：删除后将同时删除该组合桥下的所有子桥及部件！</span>", function() {
                $.operate.post(prefix + "/remove", { "ids": id });
            });
        } else {
            // 桥幅删除确认
            $.modal.confirm("确定要删除桥幅 <strong>" + name + "</strong> 吗？<br><span style='color:red;'>删除后将同时删除相关部件数据！</span>", function() {
                $.operate.post(prefix + "/remove", { "ids": id });
            });
        }
    }

    function importPropertyJson(id) {
        var options = {
            title: 'JSON数据导入',
            width: "500",
            url: ctx + "biz/property/readJson/" + id,
            callBack: function(index, layero){
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function() {
                    $.modal.msgSuccess("导入成功");
                    $.table.refresh();  // 确保在数据提交后刷新
                });

            }
        };
        $.modal.openOptions(options);
    }

    function downLoadWord(id){
        window.location.href = ctx + "biz/report/exportPropertyWord/" + id;
    }
</script>
</body>
</html>