<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.cs.bm.biz.mapper.PlanMapper">
    
    <resultMap type="Plan" id="PlanResult">
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectPlanVo">
        select create_time, update_time, id, create_by, update_by, title, content from bm_plan
    </sql>

    <select id="selectPlanList" parameterType="Plan" resultMap="PlanResult">
        <include refid="selectPlanVo"/>
        <where>  
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
        </where>
    </select>
    
    <select id="selectPlanById" parameterType="Long" resultMap="PlanResult">
        <include refid="selectPlanVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
        insert into bm_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
         </trim>
    </insert>

    <update id="updatePlan" parameterType="Plan">
        update bm_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlanById" parameterType="Long">
        delete from bm_plan where id = #{id}
    </delete>

    <delete id="deletePlanByIds" parameterType="String">
        delete from bm_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>