<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户压缩包列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>用户名称：</label>
                            <input type="text" name="fileCreateBy"/>
                        </li>
                        <li>
                            <label>文件名称：</label>
                            <input type="text" name="fileName"/>
                        </li>
                        <li class="select-time">
                            <label>打包时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginPackageTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endPackageTime]"/>
                        </li>
                        <li class="select-time">
                            <label>更新时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginUpdateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endUpdateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('biz:package:edit')}]];
    var removeFlag = [[${@permission.hasPermi('biz:package:remove')}]];
    var prefix = ctx + "biz/package";

    $(function() {
        var options = {
            url: prefix + "/list",
            uniqueId: "id",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户压缩包",
            columns: [{
                checkbox: true
            },
                {
                    field: 'fileCreateBy',
                    title: '用户名称'
                },
                {
                    field: 'fileName',
                    title: '文件名称',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="downloadPackage(\'' + row.id + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'packageTime',
                    title: '打包时间'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    field: 'packageSize',
                    title: '文件大小'
                }]
        };
        $.table.init(options);
    });

    // 下载文件的函数
    function downloadPackage(id) {
        // 获取表格中当前行的数据
        var row = $("#bootstrap-table").bootstrapTable('getRowByUniqueId', id);

        if (row && row.minioId) {
            // 直接使用行数据中的minioId
            $.ajax({
                type: "GET",
                url: ctx + "biz/file/get/" + row.minioId,
                success: function(result) {
                    if (result.code == 0) {
                        var fileMap = result.data;
                        if (fileMap && fileMap.newName) {
                            var prefix = fileMap.newName.substring(0, 2);
                            var downloadUrl = [[${minioUrl}]] + "/" + [[${minioBucket}]] + "/" + prefix + "/" + fileMap.newName;
                            window.open(downloadUrl, '_blank');
                        } else {
                            $.modal.alertWarning("文件信息不完整，无法下载");
                        }
                    } else {
                        $.modal.alertError("获取文件信息失败：" + result.msg);
                    }
                },
                error: function() {
                    $.modal.alertError("系统错误，请联系管理员");
                }
            });
        } else {
            $.modal.alertWarning("无法获取文件信息");
        }
    }
</script>
</body>
</html>