<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('桥梁信息列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 桥梁信息层次
            </div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="property()" title="管理桥梁信息"><i
                        class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i
                        class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i
                        class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新对象"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <!-- 新增的name搜索框 -->
        <div class="search-collapse" style="padding: 10px;">
            <form id="searchForm">
                <!-- 隐藏的 id 字段（用于树节点点击） -->
                <input type="hidden" id="search_id" name="id">

                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="输入名称搜索桥梁..." style="margin-bottom: 5px;">
                </div>
                <div class="form-group" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="searchByName()" style="margin-right: 10px;">
                        <i class="fa fa-search"></i> 搜索
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="resetSearch()">
                        <i class="fa fa-refresh"></i> 重置
                    </button>
                </div>
            </form>
        </div>

        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
            <div class="search-tip" style="margin-bottom: 12px; padding: 8px 12px; background: #f0f9ff; border-left: 3px solid #1890ff; border-radius: 0 4px 4px 0; display: flex; align-items: center;">
                <svg style="width: 16px; height: 16px; margin-right: 8px; color: #1890ff;" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span style="color: #1d39c4; font-size: 13px;">提示：更多数据请使用<span style="font-weight: 600;">顶部搜索框</span></span>
            </div>
        </div>
    </div>
</div>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <form id="formId">
                <input type="hidden" id="id" name="id" th:value="${id}">
                <input type="hidden" id="parentId" name="parentId">
            </form>

            <div class="btn-group-sm" id="toolbar" role="group">

                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="biz:property:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="biz:property:remove"
                   th:if="${building}">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="importPropertyWord()"
                   shiro:hasPermission="biz:property:import">
                    <i class="fa fa-upload"></i>导入word桥梁卡
                </a>
                <a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="importPropertyExcel()"
                   shiro:hasPermission="biz:property:import">
                    <i class="fa fa-upload"></i>导入excel桥梁卡
                </a>
                <a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="downLoadWord()"
                   shiro:hasPermission="biz:property:export"
                   th:if="${building}">
                    <i class="fa fa-download"></i>导出桥梁卡
                </a>
                <!--                <a class="btn btn-warning" shiro:hasPermission="biz:property:add" onclick="importJson()">-->
                <!--                    <i class="fa fa-upload"></i> 导入JSON-->
                <!--                </a>-->
                <!-- 添加导出Word按钮 -->
                <!--                <a class="btn btn-info" onclick="exportWord()">-->
                <!--                    <i class="fa fa-file-word-o"></i> 导出Word-->
                <!--                </a>-->

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<!-- 导出Word模态框 -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exportModalLabel">请输入建筑ID</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="buildingId">建筑ID：</label>
                    <input type="number" class="form-control" id="buildingId" placeholder="请输入建筑ID">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="confirmExport()">确认导出</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('biz:property:add')}]];
    var editFlag = [[${@permission.hasPermi('biz:property:edit')}]];
    var removeFlag = [[${@permission.hasPermi('biz:property:remove')}]];
    var prefix = ctx + "biz/propertyIndex";
    var building = [[${building}]];

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 205});
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win: $('.ui-layout-center'),
                doc: $('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }

        if (building && building.rootPropertyId) {
            $("#search_id").val(building.rootPropertyId);
        } else {
            $("#search_id").val(0);
        }

        queryPropertyList();
        queryPropertyTree();
    });

    function queryPropertyList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "桥梁信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '属性名称'
                },
                {
                    field: 'value',
                    title: '属性值'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function queryPropertyTree() {
        var url;
        if (building && building.rootPropertyId) {
            url  = ctx + "biz/propertyIndex/treeData?rootPropertyId=" + building.rootPropertyId;
        } else {
            return;
        }

        var options = {
            url: url,
            expandLevel: 0,
            onClick: zOnClick
        };
        $.tree.init(options);

    }
    function zOnClick(event, treeId, treeNode) {
        $("input[name='name']").val('');
        $("#search_id").val(treeNode.id);
        $.table.search();
    }

    function searchByName() {
        var name = $("input[name='name']").val();
        var url = ctx + "biz/propertyIndex/treeData?name=" + name;

        $.modal.loading("正在搜索桥梁数据...");

        var options = {
            url: url,
            expandLevel: 0,
            onClick: zOnClick,
            callBack: function(tree) {
                $.modal.closeLoading();
                $.table.search();
            }
        };

        $.tree.init(options);
    }

    // 重置搜索
    function resetSearch() {
        $("input[name='name']").val('');
        // 重置后可能需要重新加载原始数据
        queryPropertyTree();
    }


    $('#btnExpand').click(function () {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function () {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function () {
        queryPropertyTree();
    });

    /* 桥梁信息管理入口 */
    function property() {
        var url = ctx + "biz/property";
        $.modal.openTab("桥梁信息", url);
    }

    function importJson() {
        var options = {
            title: 'JSON数据导入',
            width: "500",
            url: ctx + "biz/property/readJson",
            callBack: function(index, layero){
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function() {
                    $.modal.msgSuccess("导入成功");
                    // $.tree.refresh();  // 确保在数据提交后刷新
                });

            }
        };
        $.modal.openOptions(options);
    }

    function exportWord() {
        $("#buildingId").val(""); // 清空输入框
        $("#exportModal").modal("show");
    }

    function confirmExport() {
        var bid = $("#buildingId").val();
        if (!bid) {
            $.modal.alertWarning("请输入建筑ID");
            return;
        }

        // 关闭模态框
        $("#exportModal").modal("hide");

        // 使用window.location.href进行下载
        window.location.href = ctx + "biz/report/exportPropertyWord/" + bid;

        // 显示成功消息
        $.modal.msgSuccess("正在导出Word文档，请稍候...");
    }

    /**
     * 桥梁卡word导入
     */
    function importPropertyWord() {
        var id = building.id;
        var options = {
            title: 'Word数据导入',
            width: "500",
            url: ctx + "biz/property/readWord/" + id,
            callBack: function(index, layero){
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function(result) {
                    $.modal.msgSuccess("导入成功");
                    building = result;
                    if (building && building.rootPropertyId) {
                        $("#search_id").val(building.rootPropertyId);
                    }
                    $.table.refresh();  // 确保在数据提交后刷新
                    queryPropertyTree();
                });

            }
        };
        $.modal.openOptions(options);
    }

    /**
     * 桥梁卡word导入
     */
    function importPropertyExcel() {
        var id = building.id;
        var options = {
            title: 'Excel数据导入',
            width: "500",
            url: ctx + "biz/property/readExcel/" + id,
            callBack: function(index, layero){
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function(result) {
                    $.modal.msgSuccess("导入成功");
                    building = result;
                    if (building && building.rootPropertyId) {
                        $("#search_id").val(building.rootPropertyId);
                    }
                    $.table.refresh();  // 确保在数据提交后刷新
                    queryPropertyTree();
                });

            }
        };
        $.modal.openOptions(options);
    }

    /**
     * 桥梁卡json导入
     */
    function importPropertyJson() {
        var id = building.id;
        var options = {
            title: 'JSON数据导入',
            width: "500",
            url: ctx + "biz/property/readJson/" + id,
            callBack: function(index, layero){
                var iframe = layero.find('iframe')[0];
                iframe.contentWindow.submitHandler(function(result) {
                    $.modal.msgSuccess("导入成功");
                    building = result;
                    if (building && building.rootPropertyId) {
                        $("#search_id").val(building.rootPropertyId);
                    }
                    $.table.refresh();  // 确保在数据提交后刷新
                    queryPropertyTree();
                });

            }
        };
        $.modal.openOptions(options);
    }

    function downLoadWord(){
        var id = building.id;
        $.modal.confirm("确认要导出桥梁卡吗？", function() {
            $.ajax({
                url: ctx + "biz/report/exportPropertyWord/" + id,
                type: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                beforeSend: function() {
                    $.modal.loading("正在导出，请稍候...");
                },
                complete: function() {
                    $.modal.closeLoading();
                },
                success: function(response, status, xhr) {
                    var contentType = xhr.getResponseHeader('Content-Type');

                    // 检查是否是JSON响应（错误情况）
                    if (contentType && contentType.includes('application/json')) {
                        var reader = new FileReader();
                        reader.onload = function() {
                            try {
                                var result = JSON.parse(reader.result);
                                if (result.code === 404) {
                                    $.modal.alertWarning(result.msg || "未找到桥梁信息");
                                } else {
                                    $.modal.alertError(result.msg || "导出失败");
                                }
                            } catch (e) {
                                $.modal.alertError("导出失败: " + reader.result);
                            }
                        };
                        reader.readAsText(response);
                        return;
                    }

                    // 正常文件下载处理
                    var blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "桥梁基本状况卡.docx";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(link.href);
                    $.modal.msgSuccess("导出成功");
                },
                error: function(xhr) {
                    var errorMsg = "导出失败";
                    if (xhr.status === 404) {
                        errorMsg = "未找到对应的桥梁信息";
                    } else if (xhr.status === 500) {
                        errorMsg = "服务器处理失败，请稍后再试";
                    }
                    $.modal.alertError(errorMsg);
                }
            });
        });
    }
</script>
</body>
</html>