<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增部件')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-biobject-add">
        <input id="treeId" name="parentId" type="hidden" th:value="${biObject?.id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">上级部件：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" type="text" onclick="selectBiObjectTree()" id="treeName" readonly="true" th:value="${biObject?.name}">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">部件名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="name" id="name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">显示顺序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" name="orderNum" value="0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <select name="status" class="form-control" th:with="type=${@dict.getType('bi_object_status')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">权重：</label>
            <div class="col-sm-8">
                <input name="weight" class="form-control" type="text" id="weight" min="0">
            </div>
        </div>
        <div class="form-group" id="countDiv" style="display: none;">
            <label class="col-sm-3 control-label">构件数量：</label>
            <div class="col-sm-8">
                <input name="count" class="form-control" type="number" min="1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附加属性：</label>
            <div class="col-sm-8">
                <textarea name="props" class="form-control" rows="3" placeholder="样例:ref1:=小桩号面、大桩号面&&ref2:=左腹板、右腹板、内腹板、外腹板"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "biz/biobject";

    $("#form-biobject-add").validate({
        focusCleanup: true
    });

    // 监听权重输入框变化
    $("#weight").on('input', function() {
        var weight = parseFloat($(this).val());
        if (weight > 0) {
            $("#countDiv").show();
        } else {
            $("#countDiv").hide();
        }
    });

    // 页面加载时检查权重值
    $(document).ready(function() {
        var weight = parseFloat($("#weight").val());
        if (weight > 0) {
            $("#countDiv").show();
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-biobject-add').serialize());
        }
    }

    function selectBiObjectTree() {
        var treeId = $("#treeId").val();
        var url = prefix + "/selectObjectTree/" + (treeId > 0 ? treeId : "");
        var options = {
            title: '选择上级部件',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layero.find('iframe').contents().find('body'); // 修正获取body的方式
        var treeId = body.find('#treeId').val();
        var treeName = body.find('#treeName').val();

        if (treeId && treeName) {
            $("#treeId").val(treeId);
            $("#treeName").val(treeName);
            $.modal.close(index);  // 使用框架自带的关闭方法
        } else {
            console.log("未选择有效节点");
        }
    }
</script>
</body>
</html>