<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('预警规则关联抢修抢建方案')" />
</head>
<body>
    <div class="main-content">
        <form id="form-user-add" class="form-horizontal">
            <input type="hidden" id="alertRuleId" name="alertRuleId" th:value="${alertRule.id}">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">规则名称：</label>
                        <div class="col-sm-8">
                            <input name="alertRuleName" class="form-control" type="text" disabled th:value="${alertRule.name}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">规则描述：</label>
                        <div class="col-sm-8">
                            <input name="alertRuleDescription" class="form-control" type="text" disabled th:value="${alertRule.description}">
                        </div>
                    </div>
                </div>
            </div>
           
            <h4 class="form-header h4">关联抢修抢建方案</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 select-table table-striped">
					    <table id="bootstrap-table"></table>
					</div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
	    var prefix = ctx + "biz/rule/assignPlan";
	    var plans = [[${plans}]]
	    
	    $(function() {
		    var options = {
		        data: plans,
		        sidePagination: "client",
		        sortName: "id",
		        showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                clickToSelect: true,
                maintainSelected: true,
		        columns: [{
		            checkbox: true,
		            formatter:function (value, row, index) {
		            	if($.common.isEmpty(value)) {
		            		return { checked: row.flag };
		            	} else {
		            		return { checked: value }
		            	}
		            }
		        },
                    {
                        field: 'id',
                        title: '',
                        visible: false
                    },
                    {
                        field: 'title',
                        title: '方案标题'
                    },
                    {
                        field: 'createTime',
                        title: '创建时间',
                        visible: false
                    },
                    {
                        field: 'updateTime',
                        title: '修改时间'
                    },{
                        field: 'createBy',
                        title: '创建人',
                        visible: false
                    },
                    {
                        field: 'updateBy',
                        title: '修改人'
                    }]
		    };
		    $.table.init(options);
		});
	    
	    /* 添加对象指标关联-提交 */
        function submitHandler(index, layero){
        	var rows = $.table.selectFirstColumns();
        	var data = { "alertRuleId": $("#alertRuleId").val(), "planIds": rows.join() };
			$.operate.saveTab(prefix + "/insertAlertRulePlans", data);
        }
    </script>
</body>
</html>