<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('向设备下达指令')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-device-command" th:object="${device}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品：</label>
                <div class="col-sm-8">
                    <input name="productName" th:field="*{productName}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">指令：</label>
                <div class="col-sm-8">
                    <input name="command" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "iot/device";
        $("#form-device-command").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/command", $('#form-device-command').serialize());
            }
        }
    </script>
</body>
</html>