<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('物联网设备列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input id="pi" name="productId" type="hidden"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>设备编号：</label>
                            <input type="text" name="sn"/>
                        </li>
                        <li>
                            <label>物理地址：</label>
                            <input type="text" name="address"/>
                        </li>
                        <li>
                            <label>产品：</label>
                            <input id="pn" name="productName"
                                   class="form-control"
                                   style="color: green"
                                   type="text"
                                   placeholder=""
                                   onclick="importPBase()" readonly>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="iot:device:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="iot:device:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="iot:device:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="iot:device:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iot:device:edit')}]];
    var commandFlag = [[${@permission.hasPermi('iot:device:command')}]];
    var removeFlag = [[${@permission.hasPermi('iot:device:remove')}]];
    var statusDatas = [[${@dict.getType('bm_device_status')}]];
    var connectedDatas = [[${@dict.getType('bm_device_connected')}]];
    var prefix = ctx + "iot/device";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "物联网设备",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false,
                },

                {
                    field: 'name',
                    title: '设备名称'
                },
                {
                    field: 'sn',
                    title: '设备编号'
                },
                {
                    field: 'address',
                    title: '物理地址'
                },
                // {
                //     field: 'imgUrl',
                //     title: '设备图片'
                // },
                {
                    field: 'imgUrl',
                    title: '设备图片',
                    align: 'left',
                    formatter: function (value, row, index) {
                        return $.table.imageView(value);
                    }
                },
                {
                    field: 'productName',
                    title: '产品名称'
                },
                {
                    field: 'status',
                    title: '设备状态',
                    visible: false,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'connected',
                    title: '是否在线',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(connectedDatas, value);
                    }
                },
                {
                    field: 'connectedAt',
                    title: '连接时间',
                    visible: false
                },
                {
                    field: 'disconnectedAt',
                    title: '断开时间',
                    visible: false
                },
                {
                    field: 'deviceStatus',
                    title: '当前运行状态'
                },
                {
                    field: 'lastStatusUpdateAt',
                    title: '状态最新更新时间'
                },
                {
                    field: 'longitude',
                    title: '经度',
                    visible: false
                },
                {
                    field: 'latitude',
                    title: '纬度',
                    visible: false
                },
                {
                    field: 'altitude',
                    title: '海拔高度',
                    visible: false
                },
                {
                    field: 'secret',
                    title: '连接密钥',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + commandFlag + '" href="javascript:void(0)" onclick="sendCommand(\'' + row.id + '\')"><i class="fa fa-info"></i>指令</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 发送指令 */
    function sendCommand(deviceId) {
        var url = prefix + '/command/' + deviceId;
        $.modal.open("发送指令至设备", url);
    }

    function importPBase() {
        //pBaseUrl 为物联网产品列表请求
        var pBaseUrl = ctx + "iot/product" + "/mini";
        //$.modal.open为弹出窗口,用于显示产品列表
        $.modal.open("请双击选择需要的物联网产品", pBaseUrl);
    }
</script>
</body>
</html>
