<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('监测对象列表')" />
    <th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>对象名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>对象状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_job_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>地址：</label>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <label>区域：</label>
                                <input type="text" name="area"/>
                            </li>
                            <li>
                                <label>管理部门：</label>
                                <input type="text" name="adminDept"/>
                            </li>
                            <li>
                                <label>权重：</label>
                                <input type="text" name="weight"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="biz:object:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="biz:object:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: layout-latest-js" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('biz:object:add')}]];
        var editFlag = [[${@permission.hasPermi('biz:object:edit')}]];
        var removeFlag = [[${@permission.hasPermi('biz:object:remove')}]];
        var statusDatas = [[${@dict.getType('sys_job_status')}]];
        var prefix = ctx + "biz/object";

        $(function() {
            var options = {
                code: "id",
                parentCode: "parentId",
                expandColumn: "1",
                uniqueId: "id",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "监测对象",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'name',
                    title: '对象名称',
                    align: 'left'
                },
                {
                    field: 'orderNum',
                    title: '显示顺序',
                    align: 'left'
                },
                {
                    field: 'status',
                    title: '对象状态',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
               /* {
                    field: 'remark',
                    title: '备注',
                    align: 'left',
                    visible: false
                },*/
                {
                    field: 'address',
                    title: '地址',
                    align: 'left',
                    visible: false
                },
                {
                    field: 'area',
                    title: '区域',
                    align: 'left',
                    visible: false
                },
                {
                    field: 'adminDept',
                    title: '管理部门',
                    align: 'left'
                },
                {
                    field: 'weight',
                    title: '权重',
                    align: 'left',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        // var more = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="assignIndex(\'' + row.id + '\')"><i class="fa fa-check-square-o"></i>关联指标</a> ');
                        // actions.push('<a tabindex="0" class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });

        /* 对象管理-关联指标 */
        function assignIndex(objectId) {
            var url = prefix + '/assignIndex/' + objectId;
            $.modal.openTab("对象关联指标", url);
        }
    </script>
</body>
</html>