<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('检测任务列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>项目名称：</label>
                            <input type="text" name="project.name"/>
                        </li>
                        <li>
                            <label>桥梁名称：</label>
                            <input type="text" name="building.name"/>
                        </li>
                        <li>
                            <label>项目编号：</label>
                            <input type="text" name="project.code"/>
                        </li>

                        <li>
                            <label>项目年限：</label>
                            <input type="text"
                                   name="project.year"
                                   placeholder="请输入4位年份(如:2025)"
                                   pattern="\d{4}"
                                   maxlength="4"
                                   oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('bi_task_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>业务状态：</label>
                            <select name="type">
                                <option value="">所有</option>
                                <option value="1">已提交</option>
                                <option value="0">未提交</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>项目日期： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始日期" name="project.startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束日期" name="project.endDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="biz:task:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:task:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('biz:task:edit')}]];
    var evaluateFlag = [[${@permission.hasPermi('biz:evaluation:calculate')}]];
    var evaluateDetailFlag = [[${@permission.hasPermi('biz:evaluation:detail')}]];
    var statusDatas = [[${@dict.getType('bi_task_status')}]];
    var areaDatas = [[${@dict.getType('bi_building_area')}]];
    var lineDatas = [[${@dict.getType('bi_buildeing_line')}]];
    var taskTypeDatas = [[${@dict.getType('bi_task_type')}]];
    var select = [[${select}]]
    var projectId = [[${projectId}]];
    var prefix = ctx + "biz/task";
    var evaluationPrefix = ctx + "biz/bievaluation";

    $(function () {
        // 若存在项目ID，则隐藏项目相关的查询条件
        if (projectId !== null && projectId !== undefined && projectId !== '' && projectId !== 'null' && projectId !== 'undefined') {
            $('#formId input[name="project.name"]').closest('li').hide();
            $('#formId input[name="project.code"]').closest('li').hide();
            $('#formId input[name="project.year"]').closest('li').hide();
            $('#formId .select-time').hide();
        }
        
        var options = {
            url: prefix + "/list/" + select,
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "检测任务",

            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '任务ID',
                    visible: false
                },
                {
                    field: 'project.name',
                    title: '项目名称'
                },
                {
                    field: 'building.name',
                    title: '桥梁名称'
                },
                {
                    field: 'building.area',
                    title: '片区',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(areaDatas, value);
                    }
                },
                {
                    field: 'building.line',
                    title: '线路',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(lineDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(taskTypeDatas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    formatter: function(value) {
                        return value ? $.common.dateFormat(value) : '-';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="inspect(\'' + row.id + '\')"><i class="fa fa-search"></i>检查</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + evaluateFlag + '" href="javascript:void(0)" onclick="doEvaluate(\'' + row.id + '\', \'' + row.building.rootObjectId + '\')"><i class="fa fa-calculator"></i>评定</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + evaluateDetailFlag + '" href="javascript:void(0)" onclick="viewEvaluateDetail(\'' + row.id + '\')"><i class="fa fa-list-alt"></i>评定详情</a> ');
                        return actions.join('');
                    }
                }]
        };

        $.table.init(options);
    });

    function inspect(taskId) {
        var url = prefix + "/inspect/" + taskId;
        $.modal.openTab("任务检查", url);
    }

    function doEvaluate(taskId, rootObjectId) {
        $.modal.loading("正在计算评定结果，请稍候...");
        $.ajax({
            type: "GET",
            url: evaluationPrefix + "/calculate/" + taskId + "/" + rootObjectId,
            success: function(result) {
                $.modal.closeLoading();
                if (result.code == 0) {
                    var url = evaluationPrefix + "/detail/" + taskId;
                    $.modal.openTab("技术状况评定", url);
                } else {
                    $.modal.alertError(result.msg);
                }
            },
            error: function() {
                $.modal.closeLoading();
                $.modal.alertError("系统错误");
            }
        });
    }

    function viewEvaluateDetail(taskId) {
        $.ajax({
            type: "GET",
            url: evaluationPrefix + "/check/" + taskId,
            success: function(result) {
                if (result.code == 0 && result.data) {
                    var url = evaluationPrefix + "/detail/" + taskId;
                    $.modal.openTab("评定详情", url);
                } else {
                    $.modal.alertWarning("此桥梁尚无技术状况评定");
                }
            }
        });
    }
</script>
</body>
</html>