<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('检测任务列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>项目名称：</label>
                            <input type="text" name="project.name"/>
                        </li>
                        <li>
                            <label>桥梁名称：</label>
                            <input type="text" name="building.name"/>
                        </li>
                        <li>
                            <label>项目编号：</label>
                            <input type="text" name="project.code"/>
                        </li>

                        <li>
                            <label>项目年限：</label>
                            <input type="text"
                                   name="project.year"
                                   placeholder="请输入4位年份(如:2025)"
                                   pattern="\d{4}"
                                   maxlength="4"
                                   oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('bi_task_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>业务状态：</label>
                            <select name="type">
                                <option value="">所有</option>
                                <option value="1">已提交</option>
                                <option value="0">未提交</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>更新日期： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始日期" name="updateStartDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束日期" name="updateEndDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>

                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="biz:task:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="biz:task:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success multiple disabled" onclick="batchExportDisease()" shiro:hasPermission="biz:disease:export">
                <i class="fa fa-download"></i> 批量导出病害
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('biz:task:edit')}]];
    var evaluateFlag = [[${@permission.hasPermi('biz:evaluation:calculate')}]];
    var evaluateDetailFlag = [[${@permission.hasPermi('biz:evaluation:detail')}]];
    var statusDatas = [[${@dict.getType('bi_task_status')}]];
    var areaDatas = [[${@dict.getType('bi_building_area')}]];
    var lineDatas = [[${@dict.getType('bi_buildeing_line')}]];
    var taskTypeDatas = [[${@dict.getType('bi_task_type')}]];
    var select = [[${select}]]
    var projectId = [[${projectId}]];
    var prefix = ctx + "biz/task";
    var evaluationPrefix = ctx + "biz/bievaluation";

    $(function () {
        // 若存在项目ID，则隐藏项目相关的查询条件
        if (projectId !== null && projectId !== undefined && projectId !== '' && projectId !== 'null' && projectId !== 'undefined') {
            $('#formId input[name="project.name"]').closest('li').hide();
            $('#formId input[name="project.code"]').closest('li').hide();
            $('#formId input[name="project.year"]').closest('li').hide();
            $('#formId .select-time').hide();
        }

        var options = {
            url: prefix + "/list/" + select,
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "检测任务",

            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '任务ID',
                    visible: false
                },
                {
                    field: 'project.name',
                    title: '项目名称'
                },
                {
                    field: 'building.name',
                    title: '桥梁名称',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="openBuildingList(\'' + value + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'building.area',
                    title: '片区',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(areaDatas, value);
                    }
                },
                {
                    field: 'building.line',
                    title: '线路',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(lineDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(taskTypeDatas, value);
                    }
                },
                {
                    field: 'evaluationResult',
                    title: '评定等级'
                },
                {
                    field: 'updateBy',
                    title: '更新用户',
                    visible: false
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    formatter: function(value) {
                        return value ? $.common.dateFormat(value, 'yyyy-MM-dd HH:mm:ss') : '-';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="inspect(\'' + row.id + '\')"><i class="fa fa-search"></i>检查</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + evaluateFlag + '" href="javascript:void(0)" onclick="doEvaluate(\'' + row.id + '\', \'' + row.building.rootObjectId + '\', \'' + row.building.name + '\')"><i class="fa fa-calculator"></i>评定</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + evaluateDetailFlag + '" href="javascript:void(0)" onclick="viewEvaluateDetail(\'' + row.id + '\', \'' + row.building.name + '\')"><i class="fa fa-list-alt"></i>评定详情</a> ');
                        return actions.join('');
                    }
                }]
        };

        $.table.init(options);
    });

    function inspect(taskId) {
        var url = prefix + "/inspect/" + taskId;
        $.modal.openTab("任务检查", url);
    }

    function doEvaluate(taskId, rootObjectId, buildingName) {
        // 先检查根节点对象的状态
        $.ajax({
            type: "GET",
            url: ctx + "biz/biobject/getStatus/" + rootObjectId,
            success: function(result) {
                if (result.code == 0) {
                    var status = result.data;
                    if (status == "3") {
                        // 状态为3，继续原来的评定流程
                        performEvaluation(taskId, rootObjectId, buildingName);
                    } else {
                        // 状态不是3，先执行修正权重和锁定操作，统一显示"正在计算评定结果"
                        var loadingIndex = $.modal.loading("正在计算评定结果，请稍候...");

                        // 第一步：修正权重
                        $.ajax({
                            type: "POST",
                            url: ctx + "biz/biobject/correctWeights",
                            data: {
                                "rootObjectId": rootObjectId
                            },
                            success: function(correctResult) {
                                if (correctResult.code == 0) {
                                    // 第二步：锁定对象（设置状态为3）
                                    $.ajax({
                                        type: "POST",
                                        url: ctx + "biz/biobject/edit",
                                        data: {
                                            "id": rootObjectId,
                                            "status": "3"
                                        },
                                        success: function(lockResult) {
                                            if (lockResult.code == 0) {
                                                // 第三步：继续原来的评定流程
                                                $.ajax({
                                                    type: "GET",
                                                    url: evaluationPrefix + "/calculate/" + taskId + "/" + rootObjectId,
                                                    success: function(result) {
                                                        $.modal.closeLoading(loadingIndex);
                                                        if (result.code == 0) {
                                                            var url = evaluationPrefix + "/detail/" + taskId + "?buildingName=" + encodeURIComponent(buildingName);
                                                            $.modal.openTab("技术状况评定", url);
                                                        } else {
                                                            $.modal.alertError(result.msg);
                                                        }
                                                    },
                                                    error: function() {
                                                        $.modal.closeLoading(loadingIndex);
                                                        $.modal.alertError("系统错误");
                                                    }
                                                });
                                            } else {
                                                $.modal.closeLoading(loadingIndex);
                                                $.modal.alertError("锁定失败：" + lockResult.msg);
                                            }
                                        },
                                        error: function() {
                                            $.modal.closeLoading(loadingIndex);
                                            $.modal.alertError("锁定失败，请稍后重试");
                                        }
                                    });
                                } else {
                                    $.modal.closeLoading(loadingIndex);
                                    $.modal.alertError("修正权重失败：" + correctResult.msg);
                                }
                            },
                            error: function() {
                                $.modal.closeLoading(loadingIndex);
                                $.modal.alertError("修正权重失败，请稍后重试");
                            }
                        });
                    }
                } else {
                    $.modal.alertError(result.msg || "获取对象状态失败");
                }
            },
            error: function() {
                $.modal.alertError("获取对象状态失败");
            }
        });
    }

    // 执行评定流程
    function performEvaluation(taskId, rootObjectId, buildingName) {
        $.modal.loading("正在计算评定结果，请稍候...");
        $.ajax({
            type: "GET",
            url: evaluationPrefix + "/calculate/" + taskId + "/" + rootObjectId,
            success: function(result) {
                $.modal.closeLoading();
                if (result.code == 0) {
                    var url = evaluationPrefix + "/detail/" + taskId + "?buildingName=" + encodeURIComponent(buildingName);
                    $.modal.openTab("技术状况评定", url);
                } else {
                    $.modal.alertError(result.msg);
                }
            },
            error: function() {
                $.modal.closeLoading();
                $.modal.alertError("系统错误");
            }
        });
    }

    function viewEvaluateDetail(taskId, buildingName) {
        $.ajax({
            type: "GET",
            url: evaluationPrefix + "/check/" + taskId,
            success: function(result) {
                if (result.code == 0 && result.data) {
                    var url = evaluationPrefix + "/detail/" + taskId + "?buildingName=" + encodeURIComponent(buildingName);
                    $.modal.openTab("评定详情", url);
                } else {
                    $.modal.alertWarning("此桥梁尚无技术状况评定");
                }
            }
        });
    }

    function openBuildingList(buildingName) {
        // 通过URL参数传递桥梁名称
        var url = ctx + "biz/building?name=" + encodeURIComponent(buildingName);
        $.modal.openTab("桥梁建筑管理", url);
    }
    
    /**
     * 批量导出病害数据
     */
    function batchExportDisease() {
        console.log("开始批量导出病害数据");
        var rows = $.table.selectColumns("id");
        console.log("选中的任务ID:", rows);
        
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一个任务");
            return;
        }
        
        $.modal.confirm("确认要导出选中的" + rows.length + "个任务的病害数据吗？", function() {
            $.modal.loading("正在导出数据，请稍候...");
            
            // 直接使用window.location进行下载，避免表单提交问题
            var url = ctx + "biz/task/batchExport?taskIds=" + rows.join(",");
            console.log("导出URL:", url);
            
            // 使用iframe下载文件，避免页面跳转
            var downloadFrame = $('<iframe style="display:none;"></iframe>');
            downloadFrame.attr('src', url);
            $(document.body).append(downloadFrame);
            
            // 30秒后移除iframe并关闭加载提示
            setTimeout(function() {
                downloadFrame.remove();
                $.modal.closeLoading();
            }, 30000);
        });
    }

</script>
</body>
</html>