<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增标度数据')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-diseaseScale-add">
			<div class="form-group" style="display: none;">
				<label class="col-sm-3 control-label">病害类型编码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="typeCode" name="typeCode" th:value="${diseaseType.code}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">病害类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="diseaseType" name="diseaseType" readonly="true" th:value="${diseaseType.name}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">标度：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="scale" id="scale" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">定性描述：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="qualitativeDescription" id="qualitativeDescription" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">定量描述：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="quantitativeDescription" name="quantitativeDescription" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
				    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "biz/diseaseScale";
	
		$("#form-diseaseScale-add").validate({
			rules:{
				scale:{
					digits:true
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-diseaseScale-add').serialize());
	        }
	    }
	</script>
</body>
</html>
